
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  margin-bottom: 12px;
  color: #ec5242;
}

.logo3 {
  width: 60px;
}

.logo {
  width: 30px;
  height: 30px;
}

.partner-li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* header section */
header {
  background-color: #d3d3d3;
}

.darkMenu {
  display: none;
}

.bigMenu {
  display: block;
}

.quotes a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.bigMenu ul {
  width: 100vw;
  height: 100vh;
  background: #ec5242;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.bigMenu ul a {
  display: block;
  margin: 20px 50px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.logo img {
  display: none;
}

.hamburger {
  border: none;
  background-color: transparent;
  margin: 15px;
}

.menu {
  width: 30px;
  height: 30px;
}

.showMenu {
  width: 30px;
  height: 30px;
}

.close_btn {
  margin-left: 50px;
  margin-top: 20px;
}

.desktop_navbar {
  display: none;
}

/* header section */

/* SECTIOn */

.containerOne {
  background-image: url('../img/desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  background-color: #d3d3d3;
}

.about-main-text {
  color: #ec5242;
  text-align: center;
}

.about-box {
  border: 2px #d3d3d3 solid;
  background-color: #fff;
  line-height: 1.2;
  color: #504f4f;
  font-size: 17px;
  margin: 10px 30px;
  padding: 15px;
}

.about-email {
  color: #272a31;
}

.email-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

.please {
  margin: 10px auto;
  text-align: center;
}

/* Logo Section */
.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  height: 500px;
}

.logo-header {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0 10px 0;
}

.text_logo {
  text-align: center;
  font-size: 18px;
  margin: 10px 10px;
}

.program-line {
  width: 40px;
  border: none;
  border-top: 2px solid #ec5242;
  margin: 1px auto;
}

/* .logo p {
      text-align: center;
      margin: 30px auto;
    } */

.brain {
  border: 3px #d3d3d3 solid;
  height: 50%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.logo_name {
  margin-left: 10px;
  font-family: 'Cocogoose', sans-serif;
  font-size: 30px;
}

/* logo section */

/* the past conference */

.speakers {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.program-head {
  margin-top: 30px;
}

.text_conference {
  font-size: 17px;
  font-weight: 500;
  margin: 20px;
}

.meeting {
  margin-bottom: 40px;
}

.events {
  background: linear-gradient(rgba(236, 82, 66, 0.8), rgb(236, 82, 66, 0.8)), url('./imgs/Conference.jpg');
  background-size: 100%;
  width: 80vw;
  height: 30vh;
  margin-top: 30px;
}

.text_event {
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  padding-top: 20%;
}

/* the past conference */

/* partner SSection */

.partner-bg {
  background-color: #424141;
  height: auto;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.program-head-PARTNER {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

.logo2 {
  width: 50px;
  margin: 20px 20px;
}

/* partner Section */

/* footer */

.footer_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

.footer_txt {
  font-size: 20px;
  font-weight: 800;
}

.copyright {
  font-size: 17px;
  font-weight: 600;
}

/* footer */

/* hero section */

/* .imageDiv h3,
  h1 {
    color: #ec5242;
  } */

.imageDiv h3 {
  font-family: 'Lato', sans-serif;
  color: #d84d40;
  font-weight: 500;
  font-size: 30px;
}

/* .imageDiv p {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #504f4f;
    font-size:  17px;
  } */

.imageDiv h5 {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  color: #504f4f;
  font-size: 20px;
}

.textBox {
  font-family: 'Lato', sans-serif;
  border: 3px solid white;
  font-weight: normal;
  font-size: 18px;
  padding: 12px 12px;
}

time {
  line-height: 38px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #504f4f;
}

.programs {
  padding-bottom: 12px;
  background: black;
}

.programs h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 20px;
  font-weight: normal;
  text-align: center;
}

.programLine {
  width: 25px;
  height: 3px;
  background-color: #ec5242;
}

.programCards {
  background: #272a31;
  margin: 15px 15px 0 15px;
  padding: 5px;
  display: grid;
  grid-template-columns: 15% 30% 55%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.allPrograms h3 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 24px;
}

.programCards div h3 {
  color: #ec5242;
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
  width: 90px;
  margin-top: 37px;
}

.cardsColumn {
  margin: auto;
}

.fa {
  margin-top: 37px;
}

.allPrograms {
  margin: 30px 35px 30px 35px;
  height: 70px;
  background: #ec5242;
  text-align: center;
  padding-top: 1px;
}

.brain_img {
  width: 100px;
}

.speakersGrid {
  height: auto;
  background: white;
  margin: 15px 15px 10px 15px;
  border-bottom: solid;
  border-color: rgb(219, 214, 214);
  border-width: 1px;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 5px;
}

.gridImage img {
  max-width: 120px;
  max-height: 120px;
}

.speakerDetails {
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

.speakerDetails h4 {
  font-style: italic !important;
  color: #ec5242;
  padding: 0;
  margin: 0;
}

.speakers h2 {
  text-align: center;
}

.partnersContainer {
  background: #535256;
  height: 600px;
}

.mainTitle h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 20px;
  font-weight: normal;
  text-align: center;
}

.partnersMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.partnersItem {
  padding: 17px;
}

.partner_img {
  width: 120px;
  height: auto;
}

.footerDiv {
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 15px;
  height: 150px;
}

.patents {
  padding-left: 5px;
  font-size: 18px;
  align-self: center;
  justify-content: end;
  width: 100%;
  margin-left: 10px;
}

.coincityLogo {
  align-self: center;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  text-align: end;
}

.logoFooter {
  height: 30px;
  width: auto;
}

.footerText {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  color: #a5a1a1;
  font-size: 20px;
}

.aboutFooter {
  background: #000;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .smallMenu {
    background-color: #272a31;
    margin: 0;
    padding: 0;
    height: 40px;
  }

  .darkMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    padding-left: 135px;
    align-items: center;
  }

  .facebook {
    width: 25px;
  }

  .social {
    font-size: 15px;
  }

  time {
    line-height: 38px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #504f4f;
  }

  .darkMenu li {
    margin: 0 10px;
    padding: 0;
  }

  .darkMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
  }

  .hamburger {
    display: none;
  }

  .desktop_navbar {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fff;
    justify-content: end;
  }

  .header_logo {
    width: 40px;
    margin: 0 10vw;
  }

  .navbar_lst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar_lst li {
    margin-left: 5vw;
  }

  .navbar_lst li a {
    color: #272a31;
    font-size: 15px;
    font-weight: 600;
  }

  .webinar_btn {
    font-size: 17px;
    color: #ec5242;
    font-weight: 700;
    border: 3px #ec5242 solid;
    padding: 6px;
    margin: 0 40px 0 5%;
  }

  .logo2 {
    width: 50px;
    margin: 20px 40px;
  }

  .logo img {
    display: block;
    height: 30px;
    width: auto;
    margin: 0;
    margin-right: 600px;
    border: 1px solid red;
  }

  .containerOne {
    background-image: url('./background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about-main-text {
    font-size: 3rem;
    margin: 0 auto;
    width: 50%;
    margin-top: 80px;
  }

  .about-box {
    font-family: 'Lato', sans-serif;
    border: 3px solid white;
    background-color: rgb(245, 241, 241);
    padding: 40px;
    margin: 50px auto;
    width: 50%;
    font-size: 16px;
  }

  .please {
    margin: 10px auto;
    text-align: center;
  }

  .email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* LOGO SECTION */

  .logo-section {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding-bottom: 50px;
    border-bottom: 1px solid #d3d3d3;
  }

  .logo-header {
    font-size: 2rem;
    margin: 50px auto 10px auto;
  }

  .program-line {
    width: 40px;
    border: none;
    border-top: 2px solid #ec5242;
    margin: 1px auto;
  }

  .logo-section p {
    text-align: center;
    margin: 30px auto;
  }

  .brain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
  }

  .brain_img {
    width: auto;
    height: 120px;
  }

  /* SPEAKER SECTION */

  .meeting {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .events {
    background: url('./CONFERENCE-MEETING-2.jpg');
    border: 1px solid red;
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text {
    font-size: 2rem;
    color: #fff;
  }
}
