*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cocogoose', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1 {
  font-size: 40px;
  margin-bottom: 12px;
  color: #ec5242;
}

/* header section */
header {
  background-color: #d3d3d3;
}

.darkMenu {
  display: none;
}

.bigMenu {
  display: block;
}

.bigMenu ul {
  width: 100vw;
  height: 100vh;
  background: #ec5242;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.quotes a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.bigMenu ul a {
  display: block;
  margin: 20px 50px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.logo img {
  display: none;
}

.hamburger {
  border: none;
  background-color: transparent;
  margin: 15px;
}

.menu {
  width: 30px;
  height: 30px;
}

.showMenu {
  width: 30px;
  height: 30px;
}

.close_btn {
  margin-left: 50px;
  margin-top: 20px;
}

.desktop_navbar {
  display: none;
}

/* header section */

.menuIcon {
  font-size: 40px;
  margin: 20px;
  display: block;
}

.closeIcon {
  display: none;
}

.containerOne {
  background: url('./background.png');
  height: auto;
  width: 100%;
  margin-bottom: 12px;
}

.imageDiv {
  margin: 20px;
}

.imageDiv h3,
h1 {
  color: #ec5242;
}

.imageDiv h3 {
  font-family: 'Lato', sans-serif;
  color: #d84d40;
  font-weight: 500;
  font-size: 30px;
}

.imageDiv p {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  color: #504f4f;
  font-size: 20px;
}

.imageDiv h5 {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  color: #504f4f;
  font-size: 20px;
}

.textBox {
  font-family: 'Lato', sans-serif;
  border: 3px solid white;
  font-weight: normal;
  font-size: 18px;
  padding: 12px 12px;
}

time {
  line-height: 38px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #504f4f;
}

.programs {
  padding-bottom: 12px;
  background: black;
}

.programs h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 20px;
  font-weight: normal;
  text-align: center;
}

.programLine {
  width: 25px;
  height: 3px;
  background-color: #ec5242;
}

.programCards {
  background: #272a31;
  margin: 15px 15px 0 15px;
  padding: 5px;
  display: grid;
  grid-template-columns: 15% 30% 55%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.allPrograms h3 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 24px;
}

.programCards div h3 {
  color: #ec5242;
  font-size: 20px;
  font-weight: bold;
  word-wrap: break-word;
  width: 90px;
  margin-top: 37px;
}

.cardsColumn {
  margin: auto;
}

.fa {
  margin-top: 37px;
}

.allPrograms {
  margin: 30px 35px 30px 35px;
  height: 70px;
  background: #ec5242;
  text-align: center;
  padding-top: 1px;
}

.speakersGrid {
  height: auto;
  background: white;
  margin: 15px 15px 10px 15px;
  border-bottom: solid;
  border-color: rgb(219, 214, 214);
  border-width: 1px;
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 5px;
}

.gridImage img {
  max-width: 120px;
  max-height: 120px;
}

.speakerDetails {
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

.speakerDetails h4 {
  font-style: italic !important;
  color: #ec5242;
  padding: 0;
  margin: 0;
}

.speakers h2 {
  text-align: center;
}

.partnersContainer {
  background: #535256;
  height: 600px;
}

.mainTitle h2 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 20px;
  font-weight: normal;
  text-align: center;
}

.partnersMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.partnersItem {
  padding: 17px;
}

.partner_img {
  width: 120px;
  height: auto;
}

.footerDiv {
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 15px;
  height: 150px;
}

.patents {
  padding-left: 5px;
  font-size: 18px;
  align-self: center;
  justify-content: end;
  width: 100%;
  margin-left: 10px;
}

.coincityLogo {
  align-self: center;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  text-align: end;
}

.logoFooter {
  height: 30px;
  width: auto;
}

.footerText {
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  color: #a5a1a1;
  font-size: 20px;
}

.aboutFooter {
  background: #000;
  height: 300px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .smallMenu {
    background-color: #272a31;
    margin: 0;
    padding: 0;
    height: 40px;
  }

  .darkMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    padding-left: 135px;
    align-items: center;
  }

  .facebook {
    width: 25px;
  }

  .social {
    font-size: 15px;
  }

  time {
    line-height: 38px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #504f4f;
  }

  .darkMenu li {
    margin: 0 10px;
    padding: 0;
  }

  .quotes a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  .darkMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
  }

  .hamburger {
    display: none;
  }

  .desktop_navbar {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #fff;
    justify-content: end;
  }

  .header_logo {
    width: 40px;
    margin: 0 10vw;
  }

  .navbar_lst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar_lst li {
    margin-left: 5vw;
  }

  .navbar_lst li a {
    color: #272a31;
    font-size: 15px;
    font-weight: 600;
  }

  .webinar_btn {
    font-size: 17px;
    color: #ec5242;
    font-weight: 700;
    border: 3px #ec5242 solid;
    padding: 6px;
    margin: 0 40px 0 5%;
  }

  .containerOne {
    background: url('./background.png');
    height: 800px;
    width: 100%;
  }

  .imageDiv {
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    margin: 0;
  }

  .imageDiv h5 {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #504f4f;
    font-size: 20px;
  }

  .imageDiv h3 {
    font-family: 'Lato', sans-serif;
    color: #d84d40;
    font-weight: 500;
    font-size: 30px;
  }

  .imageDiv h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .imageDiv p {
    font-family: 'Lato', sans-serif;
    border: 3px solid white;
    background-color: rgb(245, 241, 241);
    padding: 10px 10px;
    font-size: 18px;
    width: 71%;
  }

  .textBox {
    width: 65%;
    padding: 12px;
    margin-bottom: 12px;
  }

  .progContainer {
    display: flex;
    flex-direction: row;
    padding-right: 150px;
    padding-left: 150px;
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
  }

  .programCards {
    background-color: #222223;
    margin: 0 0 0 15px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #fff;
    width: 500px !important;
    height: 300px;
    font-size: 17px;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }

  .programCards:hover {
    transform: scale(1.1);
    border: 2px solid #fff;
  }

  .allPrograms h3 {
    margin: 0 auto;
    height: 70px;
    text-decoration: honeydew;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 24px;
    padding-top: 20px;
    width: 400px;
  }

  .programCards div h3 {
    color: #ec5242;
    font-size: 19px;
    font-weight: bold;
    word-wrap: break-word;
    width: 90px;
    margin-top: 37px;
  }

  .allPrograms {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .programs {
    background: #000;
    padding-bottom: 12px;
  }

  .programs h2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 20px;
    font-weight: normal;
    text-align: center;
  }

  .programLine {
    width: 35px;
    height: 3px;
    background-color: #ec5242;
  }

  .allPrograms hr {
    width: 200px;
    height: 3px;
    background-color: #fff;
    margin-top: 0;
  }

  .speakersGrid {
    height: auto;
    background: white;
    margin: 15px 15px 10px 15px;
    border-bottom: solid;
    border-color: rgb(219, 214, 214);
    border-width: 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5px;
  }

  .speakersContainer {
    padding-left: 150px;
    padding-right: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gridImage {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .gridImage img {
    max-width: 120px;
    max-height: 130px;
  }

  .speakerDetails {
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
  }

  .speakerDetails h4 {
    font-style: italic !important;
    color: #ec5242;
    padding: 0;
    margin: 0;
  }

  .speakers h2 {
    text-align: center;
  }

  .partnersContainer {
    background: #535256;
    height: auto;
  }

  .partnersMain {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .partnersMain img {
    filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(102%) contrast(105%);
  }

  .partnersItem {
    padding: 30px;
  }

  .mainTitle h2 {
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 20px;
    font-weight: normal;
    text-align: center;
  }

  .footerDiv {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 15px;
    height: 150px;
  }

  .patents {
    padding-left: 5px;
    font-size: 24px;
    align-self: center;
    justify-content: end;
    width: 100%;
    margin-left: 10px;
    color: rgb(73, 72, 72);
  }

  .coincityLogo {
    align-self: center;
    font-weight: 600;
    font-size: 24px;
    width: 100%;
    text-align: end;
  }

  .footerText {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    color: #a5a1a1;
    font-size: 20px;
    width: 80%;
    padding-left: 12px;
  }

  .aboutFooter {
    background: #000;
    height: 200px;
  }
}
